<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SIECE</title>
  <base href="/">

  <!-- Import and configure the Firebase SDK -->
  <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
  <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
  <script defer src="/__/firebase/4.9.0/firebase-app.js"></script>
  <script defer src="/__/firebase/4.9.0/firebase-auth.js"></script>
  <script defer src="/__/firebase/init.js"></script>

  <!-- Bootstrap -->
  <link href="bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="animate.min.css" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="jqvmap.min.css" rel="stylesheet"/>
  <!-- bootstrap-daterangepicker -->
  <link href="daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="custom.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <!--<link href="styles.scss" rel="stylesheet">-->

  <script src="cookie.js"></script>
</head>
<!--<body>-->

{{{body}}}

<!--</body>-->
</html>