<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
  <!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <!--&lt;!&ndash; Meta, title, CSS, favicons, etc. &ndash;&gt;-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!--<title>Gentelella Alela! | </title>-->

    <!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
    <!--<link href="bootstrap.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Font Awesome &ndash;&gt;-->
    <!--<link href="font-awesome.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; NProgress &ndash;&gt;-->
    <!--<link href="nprogress.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Animate.css &ndash;&gt;-->
    <!--<link href="animate.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom Theme Style &ndash;&gt;-->
    <!--<link href="custom.css" rel="stylesheet">-->
  <!--</head>-->

  <body class="login">
    <div>
      <!--<a class="hiddenanchor" id="signup"></a>-->
      <a class="hiddenanchor" id="signin"></a>

      <div class="container-fluid mt-3">
        <h1 class="col-xs-12 text-center">Sistema de Información de Estadísticas sobre Crédito Educativo, SIECE</h1>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid col-lg-6 col-lg-offset-3 mt-2">
        <p>
          Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el
          texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se
          dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un
          libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en
          documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación
          de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de
          autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
        </p>
      </div>
      <div class="col-xs-12 text-center mt-3">
        <a href="index">
          <button class="btn btn-success p-0">Ingresar</button>
        </a>
      </div>
      <div class="container-fluid col-xs-12 text-center mt-3">
        <div class="separator col-xs-4 col-xs-offset-4">
          <!--<div class="clearfix"></div>-->
          <br />
          <div>
            <h1>
              <!--<i class="fa fa-paw"></i> -->
              SIECE
            </h1>
            <p>© 2018 APICE</p>
          </div>
          <div class="container-fluid">
            <a href="http://web.apice.org.co">
              <img class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" src="Banner-APICE.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
<!--</html>-->
